<%= Cd.proj.name %> created by <a href="<%= Cd.proj.authorLink %>"><%= Cd.proj.author %></a>

<span class="cd-disclamer">
Page crafted using <a href="http://escusado.github.io/cadmium">Cadmium (Cd)</a>
</span>