<div class="header">
  <a href="<%= Cd.proj.url %>">
    <img class="tm-icon" src="assets/img/Ne.png" alt="Thulium">
    <h1 class="name">Neon<span>.js</span></h1>
    <div class="tagline">JavaScript DSL for <span>Class</span>ical Inheritance</div>
  </a>
</div>
