<h1>What is it?</h1>
<p><a href="https://en.wikipedia.org/wiki/Cadmium" alt="Cadmium (Cd)" target="_blank">Cadmium (Cd)</a> is a node.js tool and a set of files that lets you create a site just like this so you can use it on <a target="_blank" href="http://pages.github.com/">Github Pages</a>.</p>

<a class="get-code" href="<%= Cd.proj.githubUrl %>" target="_blank">
    <div class="button get-code-button">
        <i class="icon icon-github"></i>
        <span> Get the code on Github! </span>
        <div class="shade"></div>
    </div>      
</a>

<<<<<<< HEAD
<div class="columns on-3">
    <div class="elastic column"> <img src="/assets/img/eventSupport.png" alt="Event support"> </div>
    <div class="elastic column"> <img src="/assets/img/nodeSupport.png" alt="Node support"> </div>    
    <div class="elastic column"> <img src="/assets/img/widget.png" alt="Node support"> </div>    
</div>
=======
<h2>Features</h2>
<ul>
    <li><a href="#style-file">Configurable styles</a></li>
    <li><a href="#proj">Json data api</a></li>
    <li><a href="#code-blocks">Highlighted code blocks</a></li>
    <li><a href="#render">Partials support</a></li>
    <li><a href="#usage">Preview app with express.js</a></li>
</ul>
>>>>>>> master
