<h1>What is it?</h1>
<p><a href="https://en.wikipedia.org/wiki/Cadmium" alt="Cadmium (Cd)">Cadmium (Cd)</a> is a tool and a set of files that lets you create a site just like this that is designed to work on <a href="http://pages.github.com/">Github Pages</a>.</p>

<a class="get-code" href="<%= Cd.proj.githubUrl %>">
    <div class="button get-code-button">
        <i class="icon icon-github"></i>
        <span> Get the code on Github! </span>
        <div class="shade"></div>
    </div>      
</a>