<h1>The future</h1>
<p>There are some features that will make everything more simple:</p>
<ul>
    <li>Browser autoreload</li>
    <li>HTML shorthand helper</li>
    <li>Md to HTML so you can just add your md file</li>
</ul>

<p>One simple way to do this page is to paste the HTML that Github generates for you on your repo, just tweak the code display and adjust as you need.</p>
