<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
	<!-- css -->
	<%= Cd.renderAssets( Cd.assets.css ) %>
	<!-- fonts -->
	<%= Cd.renderFonts( Cd.assets.googleFonts ) %>
	<!-- js -->
	<%= Cd.renderAssets( Cd.assets.js ) %>

</head>
<body>
    <%= Cd.render('body.ejs') %>
</body>
</html>